@use "../global";

.Footer {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 30px;
  background-color: #012a4f;
  color: white;
  width: 90vw;
  margin: auto;
  border-radius: 100px;
  margin-bottom: 50px;
  .name {
    position: absolute;
    top: -80px;
    left: 100px;
    h1 {
      font-family: global.$font-bold;
      font-size: 56px;
      &:first-of-type {
        color: #012a4f;
      }
    }
  }
  & > img {
    margin: 100px;
    margin-right: 0px;
  }
  .links {
    // flex: 1;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 100px;
    margin: 100px;
    & > div {
      display: flex;
      flex-direction: column;
      h3 {
        margin-bottom: 15px;
        font-size: 16px;
      }
      a,
      span {
        color: #cbe2e9;
        font-weight: 100;
        font-size: 12px;
        margin-top: 5px;
      }
      div {
        display: flex;
        align-items: start;
        gap: 7px;
        margin-top: 5px;
        img {
          width: 15px;
          height: 15px;
        }
        span {
          word-break: break-all;
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .Footer {
    flex-direction: column;
    justify-content: center;
    border-radius: 70px;
    margin-bottom: 20px;
    border-radius: 40px;
    .name {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      top: -75px;
      left: 0px;
      h1 {
        font-size: 32px;
      }
    }
    & > img {
      margin: 0;
      margin-bottom: -20px;
    }
    .links {
      gap: 30px;
      flex-direction: column-reverse;
      margin: 50px;
      & > div {
        h3 {
          margin-bottom: 5px;
        }
      }
    }
  }
}
